@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

body {
  font-size: 16px;
  font-family: "Inter", sans-serif;
  transition: background 0.3s, color 0.3s;
  padding-bottom: 5rem;
}

.table td,
.table th {
  vertical-align: middle;
}

.bg-cc {
  background-color: #f7fbf6;
}

.numbg {
  width: 40px;
}

.rating-box {
  background: #ecf9e6;
}

.rating-btn {
  background: transparent;
  border: none;
  font-size: 2rem;
  color: #bdbdbd;
  transition: all 0.3s ease;
}

.rating-btn:hover {
  transform: scale(1.2);
  cursor: pointer;
}

.active-1 {
  color: #81c784;
}
.active-2 {
  color: #66bb6a;
}
.active-3 {
  color: #4caf50;
}
.active-4 {
  color: #43a047;
}
.active-5 {
  color: #2e7d32;
}

.counter-card {
  background: linear-gradient(135deg, #4b9eb7 0%, #2b467c 100%);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  color: white;
  transition: transform 0.3s ease;
}

.aside-card {
  transition: transform 0.3s ease;
}

.counter-card:hover,
.aside-card:hover {
  transform: translateY(-5px);
}

.counter-number {
  font-weight: bold;
  color: #fff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  transition: all 0.5s ease;
}

.counter-number {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.counter-icon {
  transition: all 0.5s ease;
}

.pulse {
  animation: pulseAnimation 2s infinite;
}

@keyframes pulseAnimation {
  0% {
    transform: scale(1);
    opacity: 0.8;
  }
  50% {
    transform: scale(1.1);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 0.8;
  }
}
