* {
    padding: 0;
    margin: 0;
}

body {
    background: #fff;
    font-family: Arial, Helvetica, sans-serif;
}

.dropdown-menu {
    border-radius: 12px;
    background-color: transparent;
}

.theme-dark {
    background-color: #1b3a2f;
    color: white;
}

.theme-dark .dropdown-menu {
    background-color: #2a4c3b;
}

.theme-dark .nav-link,
.theme-dark .dropdown-item {
    color: white !important;
}

.theme-light {
    background-color: #f0fdf4;
    color: #1b3a2f;
}

.theme-light .nav-link,
.theme-light .dropdown-item {
    color: #1b3a2f !important;
}

.theme-toggle {
    cursor: pointer;
}

.explore-btn {
    border: 1px #1b3a2f;
}

#navbar-title {
    font-family: "Caveat", "Georgia";
    font-size: 1.8rem;
    color: #235f41;
}

#icon {
    width: 2rem;
    height: 2rem;
}

.icon-hero {
    display: flex;
}

.icon {
    position: relative;
}

.icon-top-left {
    bottom: 20px;
}

.icon-top-right {
    bottom: 20px;
    left: 875px;
}

.icon-bottom-right {
    left: 770px;
    top: 40px;
}

.icon-bottom-left {
    top: 40px;
    left: 10px;
}

.hero-section {
    padding: 60px 10%;
    position: relative;
}

.hero-title {
    font-size: 2.75rem;
    font-weight: 750;
    line-height: 1.3;
    text-align: center;
}

.highlight {
    background: #86EE60;
    border-radius: 20px;
    padding: 0 5px;
}

.hero-text-btn-learn {
    display: flex;
}

.hero-text {
    font-size: 1rem;
    color: #444;
    text-align: left;
    width: 400px;
    margin-top: 15px;
    font-weight: 700;
}

button.btn-learn {
    position: relative;
    left: 460px;
    bottom: 30px;
}

.btn-learn {
    justify-content: flex-end;
    margin-top: 60px;
    background: #28572A;
    color: white;
    border-radius: 30px;
    padding: 2px 30px;
}

/* carousel */
#carousel {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    width: 100%;
    min-height: 20vh;
}

.container-carousel {
    width: 90%;
    max-width: 1200px;
    overflow: hidden;
    position: relative;
}

.card-wrapper-carousel {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.card-item-carousel {
    list-style: none;
    flex: 0 0 33.333%;
    padding: 10px;
}

.card-link-carousel {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-size: auto;
    width: 324px;
    height: 383px;
    padding: 10px;
    border-radius: 30px;
    transition: 0.2s ease;
    text-decoration: none;
}

.card-link-carousel p {
    color: #fff;
    font-weight: 700;
    font-size: 14px;
}


.card-image-carousel {
    width: 100%;
    aspect-ratio: 16/9;
    object-fit: cover;
    border-radius: 10px;
}

.badge-carousel {
    color: #22c55e;
    padding: 8px 16px;
    font-size: 0.95rem;
    font-weight: 600;
    margin: 16px 0px 18px;
    background: #062F08;
    width: fit-content;
    border-radius: 50px;
}

.card-title-carousel {
    font-size: 1.19rem;
    color: #000;
    font-weight: 600;
}

.card-button-carousel {
    height: 35px;
    width: 35px;
    border-radius: 50%;
    border: #062F08 2px solid;
    margin: 30px 0 5px;
    color: #062F08;
    cursor: pointer;
    transform: rotate(-45deg);
}

.card-link-carousel:hover .card-button-carousel {
    color: #fff;
    background: #062F08;
}

/* Navigation */
.nav-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: #062F08;
    color: #fff;
    border: none;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    cursor: pointer;
    font-size: 20px;
    z-index: 10;
}

.prev-btn {
    left: 10px;
}

.next-btn {
    right: 10px;
}

@media (max-width: 900px) {
    .card-item-carousel {
        flex: 0 0 50%;
    }
}

@media (max-width: 600px) {
    .card-item-carousel {
        flex: 0 0 100%;
    }
}

/* article-5 */
#information-article-5 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#container-section-article-5 {
    padding: 50px;
}

#information-article-5 h3 {
    font-size: 46px;
    font-weight: 700;
}

#information-article-5 h3 span {
    color: #2E6E65;
}

#information-article-5 p {
    font-size: 16px;
    font-weight: 600;
    color: #6B6A6A;
}

/* article-6 */
#header-article-6 h1 {
    font-size: 46px;
    font-weight: 700;
    width: 650px;
    text-align: center;
}

#header-article-6 h1 span {
    color: #28572A;
}

#header-article-6 p {
    color: #6B6A6A;
    font-size: 16px;
    font-weight: 600;
    width: 800px;
}

#konten-article-6 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

#konten-article-6 h1 {
    background-color: #28572A;
    border-radius: 50%;
    padding: 20px 30px 20px 30px;
    font-size: 46x;
    font-weight: 700;
    color: #fff;
}

#konten-article-6 h3 {
    font-size: 20px;
    font-weight: 600;
    color: #000;
}

#konten-article-6 p {
    font-size: 14px;
    color: #6B6A6A;
    font-weight: 600;
    text-align: center;
    width: 275px;
}

/* article grid */
#container-section-grid {
    padding: 50px;
}

.heading-desc p {
    color: #6B6A6A;
    font-size: 16px;
    font-weight: 600;
}

.heading-desc h1 {
    font-size: 46px;
    font-weight: 700;
}

.heading-desc span {
    color: #28572A;
}

.card-list {
    color: #fff;
    width: 500px;
    padding: 100px;
    background: url(../resources/image/image-slider-article/Frame\ 1.png) center no-repeat;
}


.grid-container {
    margin: auto;
    padding: 20px;
    width: 600px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.card-grid {
    background-color: #fff;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 5px 12px 30px rgba(44, 44, 44, 0.25);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: 0.4s ease-in-out;
}

.card-grid svg {
    fill: #28572A;
    width: 100px;
    transition: fill 0.4s;
}

.card-grid h3 {
    font-size: 14px !important;
    font-weight: 700;
    color: #28572A;
    transition: color 0.4s;
}

.card-grid p {
    font-size: 12px;
    font-weight: 500;
    color: #6B6A6A;
    transition: color 0.4s;
}

.card-grid:hover {
    transform: translateY(-5px);
    background-color: #28572A;
    color: #fff;
}


.card-grid:hover svg {
    fill: #fff;
}

.card-grid:hover h3,
.card-grid:hover p {
    color: #fff;
}


.title-bergambar h1 {
    font-weight: 700;
}

.card {
    border: none;
    border-radius: 15px;
    min-height: 200px;
}

.card-body {
    border-radius: 15px;
}

.title-article {
    font-weight: 300;
    font-size: 16px;
}

.bg-article-main {
    background: url('../resources/image/article-bergambar/Rectangle\ 69.png') center/cover no-repeat;
}

.bg-article-left {
    background: url('../resources/image/article-bergambar/Rectangle\ 70.png') center/cover no-repeat;
}

.bg-article-right {
    background: url('../resources/image/article-bergambar/Rectangle\ 70\ \(2\).png')center/cover no-repeat;
}

.bg-article-bottom {
    background: url('../resources/image/article-bergambar/Rectangle\ 70\ \(1\).png') center/cover no-repeat;
}

.btn-article-bergambar {
    border-radius: 30px;
    padding: 5px 10px;
    font-size: 13px;
    font-weight: 500;
}

.desc-article-bergambar {
    font-weight: 700;
}

.bg-ajakan {
    background: url('../resources/image/ajakan/Rectangle\ 80.png') center/cover no-repeat;
}

.title-ajakan {
    font-size: 40px;
}

.card-ajakan {
    background: url('../resources/image/ajakan/Rectangle\ 80.png') cover no-repeat;
    border-radius: 40px;
    min-height: 300px;
}

.btn-ajakan {
    background-color: #86EE60;
    color: #000;
    font-weight: 600;
    border-radius: 20px;
    padding: 8px 20px;
    transition: 0.3s;
}

.btn-ajakan:hover {
    background-color: #7ad15c;
}

.card-edukasi {
    padding: 60px;
}

.title-edukasi {
    font-weight: 700;
    font-size: 40px;
}

.title-article-edukasi {
    color: #fff;
    font-weight: 500;
    font-size: 30px;
}

.desc-article-edukasi {
    color: #ffff;
    width: 500px;
    font-size: 16px;
}

.card-edukasi {
    min-height: 200px;
    margin-top: 30px;
    border-radius: 20px;
}

/* slider konten */
.carbon-slider {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 0;
}

.slider {
    position: relative;
    width: 1100px;
    max-width: 100%;
    height: 400px;
    overflow: hidden;
    border-radius: 15px;
    box-shadow: 5px 12px 60px rgba(0, 0, 0, 0.25);
    background: #fff;
}

.heading-slider h1 {
    font-weight: 700;
    font-size: 46px;
    color: #000;
    width: 620px;
    margin-top: 30px;
    margin-bottom: -20px;
}

.slides {
    display: flex;
    transition: transform 0.7s ease-in-out;
    height: 100%;
}

.slide {
    flex: 0 0 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 40px;
    box-sizing: border-box;
}

.slide h2 {
    font-size: 36px;
    font-weight: 700;
    max-width: 500px;
    margin-bottom: 60px;
    color: #2E6E65;
    margin-bottom: 12px;
    font-weight: 700;
}

.slide p {
    font-size: 16px;
    color: #6B6A6A;
    max-width: 500px;
    font-weight: 600;
    line-height: 1.6;
}

.dots {
    margin-top: 12px;
    display: flex;
    gap: 8px;
    justify-content: center;
    align-items: center;
}

.dots .dot {
    -webkit-appearance: none;
    appearance: none;
    border: 0;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #d6d6d6;
    cursor: pointer;
    transition: transform .15s ease, background .15s ease;
}

.dots .dot:hover {
    transform: scale(1.1);
}

.dots .dot.active {
    background: #2e7d32;
}







/* news-page */

.hero-news-page {
    background-color: #2E6E65;
    padding: 50px;
}

.header-news-hero {
    color: #86EE60;
    font-weight: 700;
    font-size: 40px;
}

.desc-news-hero {
    color: #fff;
    font-size: 600;
    font-size: 22px;
    width: 750px;
}

/* Tabs */
.tabs {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
    cursor: pointer;
}

.tabs div {
    padding: 10px 20px;
    border-bottom: 2px solid transparent;
    transition: all 0.3s ease;
}

.tabs .active {
    border-bottom: 2px solid black;
    font-weight: bold;
}

/* Konten */
.content {
    display: none;
    opacity: 0;
    transform: translateY(15px) scale(0.98);
    transition: opacity 0.6s ease-in-out, transform 0.6s ease-in-out;
}

.content.show {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.content.active {
    opacity: 1;
    transform: translateY(0) scale(1);
}

/* berita highligthed */
.news-section {
    display: grid;
    grid-template-columns: 2fr 1.5fr;
    gap: 20px;
    height: 74vh;

}

.news-main {
    position: relative;
    border-radius: 20px;
    overflow: hidden;
}

.news-main img {
    width: 700px;
    height: 525px;
    object-fit: cover;
    display: block;
}

.news-main-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 20px;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.7), transparent);
    color: white;
}

.news-tag {
    display: inline-block;
    background: #22c55e;
    color: white;
    font-size: 14px;
    font-weight: bold;
    padding: 4px 12px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.news-main-overlay h2 {
    margin: 0 0 10px;
    font-size: 20px;
    line-height: 1.3;
}

.news-meta {
    font-size: 14px;
    display: flex;
    gap: 15px;
    align-items: center;
    opacity: 0.9;
}

.news-meta span {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 16px;
    font-weight: 500;
}


.news-side {
    display: flex;
    flex-direction: column;
    gap: 15px;
    overflow-y: auto;
    padding-right: 5px;
}

.news-item {
    display: flex;
    gap: 15px;
    align-items: flex-start;
}

.news-item img {
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 10px;
}

.news-info h3 {
    margin: 0 0 5px;
    font-size: 20px;
    font-weight: 600;
    line-height: 1.3;
}

.news-info .news-meta {
    font-size: 13px;
    color: #555;
}

@media (max-width: 768px) {
    .news-section {
        grid-template-columns: 1fr;
    }

    .news-side {
        max-height: none;
        overflow-y: auto;
    }

    .news-item img {
        width: 80px;
        height: 60px;
    }
}

/* Card berita */
.cards {
    background: #fff;
    transition: transform 0.4s ease, box-shadow 0.4s ease;
}

.cards img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    display: block;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.cards p {
    margin: 10px 0px 0px 0px;
    font-weight: 700;
    padding: 0;
    font-size: 16px;
}

.cards:hover {
    transform: translateY(-8px) scale(1.02);
}

/* footer */

.card-footer {
    margin-top: 5px;
}

.card-footer .tag {
    background-color: #86EE60;
    color: #2E6E65;
    border-radius: 20px;
    padding: 4px 18px 4px 18px;
    font-size: 13px;
    font-weight: 700;
}

#footer-terkini .views-text {
    font-size: 13px;
    font-weight: 600;
    margin-left: 10px;
}

#footer-terkini .info {
    padding: 4px 15px 4px 15px;
    font-size: 13px;
    font-weight: 600;
    margin-left: 10px;
}

.card-footer .views-text {
    font-size: 13px;
    font-weight: 600;
}

.card-footer .info {
    padding: 4px 15px 4px 15px;
    font-size: 13px;
    font-weight: 600;
}

.card-terkini {
    background: url('../resources/image/Berita-Terkini-Hightlight/Rectangle\ 286.png') no-repeat;
    width: 1250px;
    padding: 40px;
    border-radius: 10px;
}

.header-terkini {
    width: 400px;
    color: #fff;
}

.card-footer-terkini {
    margin-top: 20px;
    margin-left: 5px;
}

.views-terkini {
    color: #fff;
}

.info-terkini {
    color: #fff;
    margin-left: 20px;
}

#footer {
    background-color: #062F08;
    padding: 70px;
}

#footer-1 h1 {
    color: #fff;
    font-size: 36px;
    font-weight: 700;
}

#footer-1 p {
    color: #fff;
    font-weight: 600;
    font-size: 16px;
}

#footer-2 h1 {
    color: #fff;
    font-weight: 700;
    font-size: 36px;
}

#footer-2 a {
    text-decoration: none;
    color: #fff;
    font-weight: 600;
    font-size: 16px;
}

#footer-3 h1 {
    font-size: 36px;
    font-weight: 700;
    color: #fff;
}

#footer-3 a {
    text-decoration: none;
    color: #fff;
    font-weight: 600;
    font-size: 16px;
}